In [7]:
#!pip install selenium
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time
import pandas as pd
import requests
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [8]:
from selenium.webdriver.common.by import By

In [9]:
from bs4 import BeautifulSoup
from selenium import webdriver
import time

PATH = '/chromedriver_mac_arm64/chromedriver'


l=list()
o={}

target_url = "https://www.glassdoor.com/Job/united-states-data-scientist-jobs-SRCH_IL.0,13_IN1_KO14,28_IP7.htm?includeNoSalaryJobs=true"

driver=webdriver.Chrome(PATH)

driver.get(target_url)

driver.maximize_window()
time.sleep(2)

resp = driver.page_source

driver.find_element_by_xpath("M13.34 12l5.38-5.38a.95.95 0 00-1.34-1.34L12 10.66 6.62 5.28a.95.95 0 00-1.34 1.34L10.66 12l-5.38 5.38a.95.95 0 001.34 1.34L12 13.34l5.38 5.38a.95.95 0 001.34-1.34z").click()
#driver.close()
driver.find_

/var/folders/4v/4zh9kt9x7wdgh06tc0_s1gh40000gn/T/ipykernel_3132/476534705.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

KeyboardInterrupt:

In [ ]:
driver = webdriver.Chrome()
driver.get("https://www.glassdoor.com/Job/united-states-data-scientist-jobs-SRCH_IL.0,13_IN1_KO14,28_IP7.htm?includeNoSalaryJobs=true")

    # Get element with tag name 'div'
element = driver.find_element(By.CSS_SELECTOR, '[class="SVGInline modal_closeIcon"]').click()

driver.maximize_window()

In [ ]:
driver = webdriver.Chrome()
# driver.get("https://www.glassdoor.com/Job/united-states-data-scientist-jobs-SRCH_IL.0,13_IN1_KO14,28_IP7.htm?includeNoSalaryJobs=false")
driver.get("https://www.glassdoor.com/Job/us-data-scientist-jobs-SRCH_IL.0,2_IN1_KO3,17.htm?clickSource=searchBox")
jobs = []
num_jobs = 900
verbose = True
while len(jobs) < num_jobs:  #If true, should be still looking for new jobs.

        #Let the page load. Change this number based on your internet speed.
        #Or, wait until the webpage is loaded, instead of hardcoding it.
        time.sleep(4)

        #Test for the "Sign Up" prompt and get rid of it.
#         try:
#             driver.find_element(By.CSS_SELECTOR, '[class="SVGInline modal_closeIcon"]').click()
#         except ElementClickInterceptedException:
#             pass

#         time.sleep(.1)

        try:
            driver.find_element(By.CSS_SELECTOR, '[class="SVGInline modal_closeIcon"]').click()  #clicking to the X.
        except NoSuchElementException:
            pass

        
        #Going through each job in this page
        job_buttons = driver.find_elements(By.CSS_SELECTOR, '[data-test="jobListing"]')  #jl for Job Listing. These are the buttons we're going to click.
        
              
        for job_button in job_buttons:  
            print("Progress: {}".format("" + str(len(jobs)) + "/" + str(num_jobs)))
            
            if len(jobs) >= num_jobs:
                break
                
            try:
                if driver.find_element(By.CSS_SELECTOR, '[alt="Close"]'):
                    time.sleep(3)
                    driver.find_element(By.CSS_SELECTOR, '[alt="Close"]').click()  #clicking to the X.
            except NoSuchElementException:
                pass
            
#             job_button.click()
            
            try:
                job_button.click()
            except NoSuchElementException:
                print(job_button.text)

      
            try:
                if driver.find_element(By.CSS_SELECTOR, '[alt="Close"]'):
                    time.sleep(3)
                    driver.find_element(By.CSS_SELECTOR, '[alt="Close"]').click()  #clicking to the X.
            except NoSuchElementException:
                pass

            time.sleep(1)
            collected_successfully = False
            
            while not collected_successfully:
                try:
                    if driver.find_element(By.CSS_SELECTOR, '[data-test="employerName"]'):
                        company_name = driver.find_element(By.CSS_SELECTOR, '[data-test="employerName"]').text
                    else:
                        try:
                            company_name = driver.find_element(By.CSS_SELECTOR, '[class="d-flex justify-content-between"]').text
                        except:
                            NoSuchElementException
                    location = driver.find_element(By.CSS_SELECTOR, '[data-test="location"]').text
                    job_title = driver.find_element(By.CSS_SELECTOR, '[class="css-1vg6q84 e1tk4kwz4"]').text
                    job_description = driver.find_element(By.CSS_SELECTOR, '[class="jobDescriptionContent desc"]').text
                    # salary_estimate = driver.find_element(By.CSS_SELECTOR, '[class="css-1xe2xww e1wijj242"]').text
                    collected_successfully = True
#                     if len(job_title)<1:
#                         time.sleep(5)
#                         job_title = driver.find_element(By.CSS_SELECTOR, '[data-test="jobTitle"]').text
                except:
                    time.sleep(5)
                    
                    
            # class="d-flex justify-content-between"

            try:
#                 salary_element = WebDriverWait(driver, 10).until(
#                                     EC.presence_of_element_located((By.CSS_SELECTOR, "[class='css-1bluz6i e2u4hf13']")))
                salary_estimate = driver.find_element(By.CSS_SELECTOR, '[class="css-1bluz6i e2u4hf13"]').get_attribute("textContent")
#                 salary_estimate = salary_element.text
            except NoSuchElementException:
                salary_estimate = -1 #You need to set a "not found value. It's important."
            
            try:
                rating = driver.find_element(By.CSS_SELECTOR, '[data-test="detailRating"]').text
            except NoSuchElementException:
                rating = -1 #You need to set a "not found value. It's important."

            #Printing for debugging
            if verbose:
                print("Job Title: {}".format(job_title))
                print("Salary Estimate: {}".format(salary_estimate))
                print("Job Description: {}".format(job_description[:500]))
                print("Rating: {}".format(rating))
                print("Company Name: {}".format(company_name))
                print("Location: {}".format(location))

            #Going to the Company tab...
            #clicking on this:
            #<div class="tab" data-tab-type="overview"><span>Company</span></div>
            
            #try:
            overview_name = driver.find_elements(By.CSS_SELECTOR, '[class="css-1taruhi e1pvx6aw1"]')
            overview_name_list = [element.text for element in overview_name]
            overview = driver.find_elements(By.CSS_SELECTOR, '[class="css-i9gxme e1pvx6aw2"]')
            overview_list = [element.text for element in overview]
#             for name, value in zip(overview_name_list, overview_list):
            if "Size" in overview_name_list:
                size = overview_list[overview_name_list.index("Size")]
            else:
                size = -1

            if "Founded" in overview_name_list:
                founded = overview_list[overview_name_list.index("Founded")]
            else:
                founded = -1

            if "Type" in overview_name_list:
                type_of_ownership = overview_list[overview_name_list.index("Type")]
            else:
                type_of_ownership = -1

            if "Industry" in overview_name_list:
                industry = overview_list[overview_name_list.index("Industry")]
            else:
                industry = -1

            if "Sector" in overview_name_list:
                sector = overview_list[overview_name_list.index("Sector")]
            else:
                sector = -1

            if "Revenue" in overview_name_list:
                revenue = overview_list[overview_name_list.index("Revenue")]
            else:
                revenue = -1

#                     founded = overview[1].text
#                     type_of_ownership = overview[2].text
#                     industry = overview[3].text
#                     sector = overview[4].text
#                     revenue = overview[5].text
#                 else:# NoSuchElementException:  #Rarely, some job postings do not have the "Company" tab.
#                     headquarters = -1
#                     size = -1
#                     founded = -1
#                     type_of_ownership = -1
#                     industry = -1
#                     sector = -1
#                     revenue = -1

                
            if verbose:
                # print("Headquarters: {}".format(headquarters))
                print("Size: {}".format(size))
                print("Founded: {}".format(founded))
                print("Type of Ownership: {}".format(type_of_ownership))
                print("Industry: {}".format(industry))
                print("Sector: {}".format(sector))
                print("Revenue: {}".format(revenue))
                # print("Competitors: {}".format(competitors))
                print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")

            jobs.append({"Job Title" : job_title,
            "Salary Estimate" : salary_estimate,
            "Job Description" : job_description,
            "Rating" : rating,
            "Company Name" : company_name,
            "Location" : location,
            #"Headquarters" : headquarters,
            "Size" : size,
            "Founded" : founded,
            "Type of ownership" : type_of_ownership,
            "Industry" : industry,
            "Sector" : sector,
            "Revenue" : revenue,})
            #add job to jobs

        #Clicking on the "next page" button
        try:
            driver.find_element(By.CSS_SELECTOR, '[aria-label="Next"]').click()
        except NoSuchElementException:
            print("Scraping terminated before reaching target number of jobs. Needed {}, got {}.".format(num_jobs, len(jobs)))
            break

In [ ]:
first_scrape = jobs
first_scrape

In [10]:
import pandas as pd
stored_dataframe = pd.read_csv('glassdoor_ds_job_salary.csv')

In [11]:
newly_scraped = pd.DataFrame(first_scrape)

NameError: name 'first_scrape' is not defined

In [ ]:

new_df = pd.concat([stored_dataframe, newly_scraped], axis=0)

In [ ]:
new_df.drop_duplicates()

In [ ]:
updated_scraped = new_df.drop_duplicates()

In [ ]:
updated_scraped.to_csv('glassdoor_ds_job_salary.csv', index=False)

In [ ]:
stored_dataframe

In [ ]:
second_scrape = jobs
second_scrape

In [ ]:
combined_first_second = first_scrape + second_scrape + third_scrape + success_list
len(combined_first_second)

In [ ]:
third_scrape = jobs
len(third_scrape)

In [ ]:
import json
unique_values = set(json.dumps(d) for d in success_list)

print(len(unique_values))
unique_values

In [ ]:
success_list = jobs
len(success_list)
success_set = set(json.dumps(d) for d in success_list)
len(success_set)

In [ ]:
from collections import defaultdict
def frequencies(lst):
    freq = defaultdict(int)
    for val in lst:
        freq[val] += 1
    return dict(freq)

In [ ]:
list = [1, 2, 3]
frequencies(list)

In [ ]:
success_lst = [json.dumps(d) for d in success_list]

In [ ]:
successs_dict = frequencies(success_lst)

In [ ]:
type(successs_dict)

In [ ]:
for key, value in successs_dict.items():
    print(value)

In [ ]:
successs_dict

In [ ]:
success_lst = [json.dumps(d) for d in success_list]
print(len(success_lst)
print(frequencies(success_lst))

In [ ]:
first_scrape.extend(second_scrape)

In [ ]:
response = requests.get(target_url)
if response.status_code == 200:
    print("Success")
else:
    print("Failure")
soup = BeautifulSoup(response.content, 'html.parser')
allJobsContainer = soup.find("ul")

#allJobs = allJobsContainer.find_all("li")

In [ ]:
response.status_code

In [ ]:
allJobsContainer

In [ ]:
driver = webdriver.Chrome()
driver.get("https://www.glassdoor.com/Job/united-states-data-scientist-jobs-SRCH_IL.0,13_IN1_KO14,28_IP7.htm?includeNoSalaryJobs=false")

    # Get element with tag name 'div'
element = driver.find_element(By.CSS_SELECTOR, '[alt="Close"]').click()
job_buttons = driver.find_elements(By.CSS_SELECTOR, '[data-test="jobListing"]')  #jl for Job Listing. These are the buttons we're going to click.
for job_button in job_buttons: 
    try:
        driver.find_element(By.CSS_SELECTOR, '[alt="Close"]').click()  #clicking to the X.
    except NoSuchElementException:
        pass
    job_button.click()
    try:
        driver.find_element(By.CSS_SELECTOR, '[alt="Close"]').click()  #clicking to the X.
    except NoSuchElementException:
        pass

            
# collected_successfully = False

# while not collected_successfully:
#     try:
#         company_name = driver.find_element(By.CSS_SELECTOR, '[data-test="employerName"]').text
#         location = driver.find_element(By.CSS_SELECTOR, '[data-test="location"]').text
#         job_title = driver.find_element(By.CSS_SELECTOR, '[data-test="job-link"]').text
#         job_description = driver.find_element(By.CSS_SELECTOR, '[class="jobDescriptionContent desc"]').text
#         collected_successfully = True
#     except:
#         time.sleep(5)
                    
#     try:
#         salary_estimate = driver.find_element(By.CSS_SELECTOR, '[data-test="detailSalary"]').text
#     except NoSuchElementException:
#         salary_estimate = -1 #You need to set a "not found value. It's important."

#     try:
#         rating = driver.find_element(By.CSS_SELECTOR, '[data-test="detailRating"]').text
#     except NoSuchElementException:
#         rating = -1 #You need to set a "not found value. It's important."
        
# overview = driver.find_elements(By.CSS_SELECTOR, '[class="css-i9gxme e1pvx6aw2"]')
# #for each in overview:
# size = overview[0].text
# founded = overview[1].text
# type_of_ownership = overview[2].text
# industry = overview[3].text
# sector = overview[4].text
# revenue = overview[5].text
    #print(each.text)
driver.maximize_window()

In [ ]:
company_name

In [ ]:
location

In [ ]:
job_title

In [ ]:
job_description

In [ ]:
salary_estimate

In [ ]:
rating

In [ ]:
size

In [ ]:
founded

In [ ]:
type_of_ownership

In [ ]:
industry

In [ ]:
sector

In [ ]:
revenue

In [ ]:
job_buttons

In [ ]:
type(job_title)

In [ ]:
import pandas as pd
df = pd.DataFrame(combined_first_second)
df

In [ ]:
df_no_dup = df.drop_duplicates()

In [ ]:
df_no_dup.to_csv('glassdoor_ds_job_salary.csv', index=False)

In [ ]:
newly_scraped

After webscraping the data, we put it into a csv file.

<h1>DATA CLEANING SECTION</h1>

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('glassdoor_ds_job_salary.csv')

In [30]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist V,"$111,362/yr (est.)","Posting End Date:\nApril 09, 2023\nEmployee Ty...",4.1,Enbridge\n4.1,"Houston, TX",10000+ Employees,1949,Company - Public,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD)
1,Data Scientist,-1,Data Scientist\nJob Category: Science\nTime Ty...,4.0,CACI\n4.0,"Charlottesville, VA",10000+ Employees,1962,Company - Public,Aerospace & Defense,Aerospace & Defense,$1 to $5 billion (USD)
2,Data Science/Analysis Research Librarian,-1,Hamilton College invites applications for the ...,4.6,Hamilton College\n4.6,"Clinton, NY",501 to 1000 Employees,1812,College / University,Colleges & Universities,Education,$25 to $100 million (USD)
3,Senior Systems Engineer - Systems Modeling & C...,"$125,000/yr (est.)",You will have an opportunity to directly impac...,4.1,Cenergy International Services\n4.1,"Boston, MA",10000+ Employees,1907,Company - Public,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD)
4,Senior Data Scientist - TS Clearance Required,"$131,400/yr (est.)",Sr Data Scientist (up to 25% profit sharing be...,-1.0,Eighty20 Collective,"Sterling, VA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
444,Data Scientist Vehicle Procurement (On-site ...,"$61,160/yr (est.)",Data Scientist Vehicle Procurement\nWhat we'...,3.2,Hertz\n3.2,"Estero, FL",10000+ Employees,1918,Company - Public,Car & Truck Rental,Transportation & Logistics,$5 to $10 billion (USD)
445,Predictive Analytics Modeler,"$60,000/yr (est.)",The Predictive Analytics Modeler will focus on...,3.7,LegalMatch\n3.7,"Reno, NV",51 to 200 Employees,1999,Company - Private,Legal,Legal,$25 to $100 million (USD)
446,Risk Intelligence - Data Analytics Lead,-1,Description\nAs Citizens continues to transfor...,3.7,Citizens\n3.7,"Boston, MA",10000+ Employees,1828,Company - Public,Banking & Lending,Financial Services,$5 to $10 billion (USD)
447,"Sup/Mgr/Sr. Mgr, Analytics & Data Science","$140,000/yr (est.)","Sup/Mgr/Sr. Mgr, Analytics & Data Science\nFul...",-1.0,MatchPointe Group,"Phoenix, AZ",1 to 50 Employees,-1,Company - Private,-1,-1,$5 to $25 million (USD)
448,Data Scientist,-1,Job Description:\nNeed 2 Strong resources with...,4.1,Quadrant Resource\n4.1,Remote,1001 to 5000 Employees,2004,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable

In [31]:
#we first check for duplicates
print(f"There are {df.duplicated().sum()} duplicates")

# remove duplicates
df.drop_duplicates(inplace=True)

There are 108 duplicates

In [32]:
# check for missing values
df.isna().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             8
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64

In [33]:
#remove unnecessary columns
df.drop(['Founded', 'Type of ownership'], axis=1, inplace=True)

We are now going to handle the most important part of hour dataset: salary estimate

In [34]:
#remove all rows that have a missing estimated salary. We need labeled examples in order to build our model!

# We first Count the number of rows with -1 as salary estimate (which means it is missing)
count = df[df['Salary Estimate'] == '-1'].shape[0]
print(f'There are {count} rows with a missing salary estimate')

#remove those rows
df = df[df['Salary Estimate'] != '-1']

There are 57 rows with a missing salary estimate

In [35]:
import re

#Let's check if all the salaries have the same format. For example: $131,400 /yr (est.)


# Define regular expression pattern to check format
pattern = r'\$\d{1,3}(,\d{3})*\s?\/yr\s?\(est.\)'

# Check if all values in the Salary Estimate column have the expected format
matches = df['Salary Estimate'].apply(lambda x: bool(re.match(pattern, x)))

not_matching = df[~matches]
print(f'Number of Values in the Salary Estimate column have do not have the expected format: {len(not_matching)}')
not_matching

Number of Values in the Salary Estimate column have do not have the expected format: 14

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue
14,Data Mining Center Journeyman Electrician,$33.00/hr (est.),Bitcoin Mining Center Journeyman Electrician:\...,-1.0,Pennum Industries,"Greenville, SC",-1,-1,-1,-1
22,Sr Data Analyst-Clinical Evidence Strategy & I...,$35.50/hr (est.),"Description:\nThe Senior Data Analyst, Clinica...",4.0,"Sunrise Systems, Inc\n4.0","Miami, FL",501 to 1000 Employees,Information Technology Support Services,Information Technology,$25 to $100 million (USD)
36,Contract Senior Statistical Programmer (Remote),$100.00/hr (est.),We are helping a small pharmaceutical company ...,-1.0,"Sysdata Consulting, Inc",Remote,-1,-1,-1,-1
81,AI/ML Autonomous Vehicle Software Video Analyst,$27.00/hr (est.),Kett Engineering is seeking AI / ML Autonomous...,3.1,Kett Engineering Corporation\n3.1,"Santa Clara, CA",501 to 1000 Employees,Accounting & Tax,Financial Services,$25 to $100 million (USD)
89,Statistician,$36.00/hr (est.),Company Name: Sciome LLC\nAddress: 2 Davis Dri...,-1.0,Sciome LLC,"Research Triangle Park, NC",1 to 50 Employees,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable
98,Data Scientist_Computer Vision,$85.00/hr (est.),9+ years\nData Scientist -- Computer Vision\n1...,-1.0,ABN Tech Corp,"Santa Clara, CA",-1,-1,-1,-1
134,DATA SCIENTIST,"$7,917/mo (est.)","Benefits:\nAs a UW employee, you will enjoy ge...",4.2,University of Washington\n4.2,"Seattle, WA",10000+ Employees,Colleges & Universities,Education,$1 to $5 billion (USD)
136,Senior Statistician,$115.00/hr (est.),Key Responsibilities:\nAnalyze numerical data ...,-1.0,ThirdEye Data Inc.,California,-1,-1,-1,-1
146,Data Scientist,$70.00/hr (est.),TECHNICAL SKILLS\nMust Have\n4-5 years related...,3.7,Devcare Solutions\n3.7,"Columbus, OH",51 to 200 Employees,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
241,Senior Statistical Programmer,$89.00/hr (est.),Senior Statistical Programmer Start: 05/01/202...,4.5,Joule\n4.5,"Ridgefield, CT",201 to 500 Employees,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD)
250,Data Scientist,$76.63/hr (est.),Title of Position: Data Scientist Location: Se...,4.5,Joule\n4.5,"Seattle, WA",201 to 500 Employees,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD)
279,Senior Data Analyst,$72.50/hr (est.),Salary: $65-$80/hour\nIndustry: Footwear & App...,4.8,BolyWelch\n4.8,"Beaverton, OR",1 to 50 Employees,HR Consulting,Human Resources & Staffing,$5 to $25 million (USD)
300,Data Scientist,$72.50/hr (est.),Role: Data Scientist\nLocation: REMOTE\nJob De...,1.0,Synchrony Systems\n1.0,Remote,51 to 200 Employees,-1,-1,Unknown / Non-Applicable
402,Data Scientist,$72.50/hr (est.),Position: Data Scientist (Strong PowerBI knowl...,5.0,Avis Technologies\n5.0,NaN,Unknown,-1,-1,Unknown / Non-Applicable

In [36]:
# We realize that some salaries are expressed at a hourly rate, instead of a yearly rate.


# Identify rows with hourly salary values
hourly_mask = df['Salary Estimate'].str.contains('/hr')

# Convert hourly salary values to yearly salary values
df.loc[hourly_mask, 'Salary Estimate'] = df.loc[hourly_mask, 'Salary Estimate'].apply(lambda x: str(float(x[1:x.index('/')].replace(',', '')) * 2080) + ' /yr (est.)')


# Remove any non-numeric characters and convert to numeric
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: re.sub(r'[^0-9]', '', x))

df['Salary Estimate'] = pd.to_numeric(df['Salary Estimate'])

#We now have in our salary estimate column yearly salaries expressed as integers

/var/folders/4v/4zh9kt9x7wdgh06tc0_s1gh40000gn/T/ipykernel_3132/1807838738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: re.sub(r'[^0-9]', '', x))
/var/folders/4v/4zh9kt9x7wdgh06tc0_s1gh40000gn/T/ipykernel_3132/1807838738.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = pd.to_numeric(df['Salary Estimate'])

In [37]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue
0,Data Scientist V,111362,"Posting End Date:\nApril 09, 2023\nEmployee Ty...",4.1,Enbridge\n4.1,"Houston, TX",10000+ Employees,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD)
3,Senior Systems Engineer - Systems Modeling & C...,125000,You will have an opportunity to directly impac...,4.1,Cenergy International Services\n4.1,"Boston, MA",10000+ Employees,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD)
4,Senior Data Scientist - TS Clearance Required,131400,Sr Data Scientist (up to 25% profit sharing be...,-1.0,Eighty20 Collective,"Sterling, VA",Unknown,-1,-1,Unknown / Non-Applicable
5,"Senior Utility Analyst, Principal Utility Anal...",127158,We are currently accepting applications for th...,4.1,Snohomish County PUD No.1\n4.1,"Everett, WA",501 to 1000 Employees,Energy & Utilities,"Energy, Mining & Utilities",$500 million to $1 billion (USD)
6,Data Science Specialist - Office of Education ...,72784,AIDT and the Alabama Department of Commerce in...,4.3,AIDT\n4.3,"Montgomery, AL",51 to 200 Employees,Education & Training Services,Education,$25 to $100 million (USD)
...,...,...,...,...,...,...,...,...,...,...
433,Associate Research Analyst (Associate Data Sci...,79904,PRIMARY PURPOSE\nCNA is looking for Data Scien...,4.0,CNA\n4.0,"Arlington, VA",501 to 1000 Employees,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD)
434,Senior Data Scientist,175500,"At Nova Credit, our mission is to power a more...",4.5,Nova Credit\n4.5,"New York, NY",51 to 200 Employees,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
435,Machine Learning Engineer,152650,The Challenge:\nAre you excited at the prospec...,4.2,Booz Allen Hamilton\n4.2,"Bethesda, MD",10000+ Employees,Business Consulting,Management & Consulting,$5 to $10 billion (USD)
436,Machine Learning Scientist (L5) - Globalization,142830,"Los Gatos, California\nData Science and Engine...",4.3,Netflix\n4.3,"Los Gatos, CA",5001 to 10000 Employees,Internet & Web Services,Information Technology,$5 to $10 billion (USD)
439,Machine Learning Engineer,119831,"Are you looking for a supportive, collaborativ...",3.9,John Hancock\n3.9,"Boston, MA",1001 to 5000 Employees,Insurance Carriers,Insurance,$25 to $100 million (USD)

In [89]:
#cleaning a little bit the job description
df['Job Description'] = df['Job Description'].apply(lambda x: x.replace('\n', ' '))
df

/var/folders/4v/4zh9kt9x7wdgh06tc0_s1gh40000gn/T/ipykernel_3132/2440021809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Description'] = df['Job Description'].apply(lambda x: x.replace('\n', ' '))

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue,Job State
0,Data Scientist V,111362,"Posting End Date:April 09, 2023Employee Type:R...",4.1,Enbridge\n4.1,"Houston, TX",10000+ Employees,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD),TX
3,Senior Systems Engineer - Systems Modeling & C...,125000,You will have an opportunity to directly impac...,4.1,Cenergy International Services\n4.1,"Boston, MA",10000+ Employees,Energy & Utilities,"Energy, Mining & Utilities",$10+ billion (USD),MA
4,Senior Data Scientist - TS Clearance Required,131400,Sr Data Scientist (up to 25% profit sharing be...,-1.0,Eighty20 Collective,"Sterling, VA",Unknown,-1,-1,Unknown / Non-Applicable,VA
5,"Senior Utility Analyst, Principal Utility Anal...",127158,We are currently accepting applications for th...,4.1,Snohomish County PUD No.1\n4.1,"Everett, WA",501 to 1000 Employees,Energy & Utilities,"Energy, Mining & Utilities",$500 million to $1 billion (USD),WA
6,Data Science Specialist - Office of Education ...,72784,AIDT and the Alabama Department of Commerce in...,4.3,AIDT\n4.3,"Montgomery, AL",51 to 200 Employees,Education & Training Services,Education,$25 to $100 million (USD),AL
...,...,...,...,...,...,...,...,...,...,...,...
433,Associate Research Analyst (Associate Data Sci...,79904,PRIMARY PURPOSECNA is looking for Data Scienti...,4.0,CNA\n4.0,"Arlington, VA",501 to 1000 Employees,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),VA
434,Senior Data Scientist,175500,"At Nova Credit, our mission is to power a more...",4.5,Nova Credit\n4.5,"New York, NY",51 to 200 Employees,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,NY
435,Machine Learning Engineer,152650,The Challenge:Are you excited at the prospect ...,4.2,Booz Allen Hamilton\n4.2,"Bethesda, MD",10000+ Employees,Business Consulting,Management & Consulting,$5 to $10 billion (USD),MD
436,Machine Learning Scientist (L5) - Globalization,142830,"Los Gatos, CaliforniaData Science and Engineer...",4.3,Netflix\n4.3,"Los Gatos, CA",5001 to 10000 Employees,Internet & Web Services,Information Technology,$5 to $10 billion (USD),CA
439,Machine Learning Engineer,119831,"Are you looking for a supportive, collaborativ...",3.9,John Hancock\n3.9,"Boston, MA",1001 to 5000 Employees,Insurance Carriers,Insurance,$25 to $100 million (USD),MA

In [38]:
print(df.dtypes)

Job Title           object
Salary Estimate      int64
Job Description     object
Rating             float64
Company Name        object
Location            object
Size                object
Industry            object
Sector              object
Revenue             object
dtype: object

In [58]:
#check null values in the whole database
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 439
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        284 non-null    object
 1   Salary Estimate  284 non-null    int64
 2   Job Description  284 non-null    object
 3   Rating           284 non-null    float64
 4   Company Name     284 non-null    object
 5   Location         276 non-null    object
 6   Size             284 non-null    object
 7   Industry         284 non-null    object
 8   Sector           284 non-null    object
 9   Revenue          284 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 24.4+ KB

In [60]:
rows_with_null = df[df.isnull().any(axis=1)]
print(f"Len:{len(rows_with_null)}")
rows_with_null

Len:8

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue
138,Senior Algorithms & Machine Learning Scientist,129163,"Job Summary:\n\nWalgreens, one of the nation's...",3.1,WALGREENS\n3.1,NaN,10000+ Employees,Drug & Health Stores,Retail & Wholesale,$10+ billion (USD)
201,"PhD Director, Data Science R&D (Decision Scien...",105882,"Job Description\n\nIn this role, you will assu...",3.9,Epsilon\n3.9,NaN,5001 to 10000 Employees,Advertising & Public Relations,Media & Communication,$1 to $5 billion (USD)
237,"Sr Manager, Data Science",120353,"At HCSC, we consider our employees the corners...",4.0,HCSC\n4.0,NaN,10000+ Employees,Insurance Carriers,Insurance,Unknown / Non-Applicable
277,Data Scientist - Supply Planning,100638,Beam Suntory is Crafting the Spirits that Stir...,3.9,Beam Inc.\n3.9,NaN,5001 to 10000 Employees,Food & Beverage Manufacturing,Manufacturing,$1 to $5 billion (USD)
321,Senior Data Scientist - TS Clearance Required,131400,Sr Data Scientist (up to 25% profit sharing be...,-1.0,Eighty20 Collective,NaN,Unknown,-1,-1,Unknown / Non-Applicable
367,"Data Scientist, Ecosystem",160665,About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,NaN,1001 to 5000 Employees,Internet & Web Services,Information Technology,$100 to $500 million (USD)
402,Data Scientist,1508000,Position: Data Scientist (Strong PowerBI knowl...,5.0,Avis Technologies\n5.0,NaN,Unknown,-1,-1,Unknown / Non-Applicable
432,Machine Learning Engineer,117711,Job Information\nNumber of Positions\n1\nIndus...,4.0,LeewayHertz\n4.0,NaN,51 to 200 Employees,Computer Hardware Development,Information Technology,Unknown / Non-Applicable

Check each column and handle strange values (if exists)

In [62]:
import numpy as np
df['Location'].unique()

array(['Houston, TX', 'Boston, MA', 'Sterling, VA', 'Everett, WA',
       'Montgomery, AL', 'King George, VA', 'Remote', 'Millersville, MD',
       'Moorestown, NJ', 'Andover, MA', 'Greenville, SC', 'Norfolk, VA',
       'Chicago, IL', 'Washington, DC', 'Carlsbad, CA', 'Miami, FL',
       'Frisco, TX', 'Philadelphia, PA', 'Tampa, FL', 'Chantilly, VA',
       'Dallas, TX', 'Raleigh, NC', 'Deerfield, IL', 'Palo Alto, CA',
       'Estero, FL', 'Basking Ridge, NJ', 'Santa Clara, CA',
       'Hauppauge, NY', 'San Jose, CA', 'Fayetteville, AR', 'York, NY',
       'Atlanta, GA', 'Danvers, MA', 'Durham, NC', 'Seattle, WA',
       'New York, NY', 'Reno, NV', 'Manhattan', 'Coppell, TX',
       'Fond du Lac, WI', 'Eagan, MN', 'Phoenix, AZ', 'San Francisco, CA',
       'Research Triangle Park, NC', 'Richardson, TX', 'Clark, NJ',
       'Somerville, MA', 'Newport News, VA', 'Waltham, MA',
       'Arlington, VA', 'Illinois', 'Wellesley Hills, MA',
       'Beaverton, OR', 'Cleveland, OH', 'Lewisville, TX', 'Laurel, MD',
       'College Park, MD', 'Bethesda, MD', 'Pasadena, CA', 'Brooklyn, NY',
       'California', 'San Diego, CA', nan, 'Columbus, OH', 'Manassas, VA',
       'Salt Lake City, UT', 'Clearfield, UT', 'Omaha, NE', 'Boulder, CO',
       'South San Francisco, CA', 'East Greenwich, RI', 'Hartford, CT',
       'Camp H M Smith, HI', 'Reston, VA', 'Baltimore, MD',
       'Long Beach, CA', 'Fort Meade, MD', 'Cranbury, NJ',
       'Riverwoods, IL', 'Springfield, VA', 'Tucson, AZ',
       'Huntsville, AL', 'Los Angeles, CA', 'Burlington, MA',
       'Charlotte, NC', 'Parsippany, NJ', 'Denver, CO', 'Middletown, CT',
       'Rockville, MD', 'Vienna, VA', 'Springdale, AR', 'Winchester, VA',
       'Portland, ME', 'Pensacola, FL', 'Ridgefield, CT', 'Carlisle, PA',
       'Columbia, MD', 'Lake Forest, CA', 'Jersey City, NJ',
       'Lawrenceville, NJ', 'Princeton, NJ', 'Stamford, CT',
       'Wilmington, NC', 'Florham Park, NJ', 'Irving, TX', 'Austin, TX',
       'Frederick, MD', 'Chesterfield, MO', 'McLean, VA',
       'Falls Church, VA', 'Grinnell, IA', 'Livermore, CA',
       'Redwood City, CA', 'Rosslyn, VA', 'Franklin, TN', 'Melville, NY',
       'Costa Mesa, CA', 'Pewaukee, WI', 'Massachusetts', 'Cambridge, MA',
       'Los Gatos, CA'], dtype=object)

In [69]:
df[df['Location'].apply(lambda x: isinstance(x, float))]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue
138,Senior Algorithms & Machine Learning Scientist,129163,"Job Summary:\n\nWalgreens, one of the nation's...",3.1,WALGREENS\n3.1,NaN,10000+ Employees,Drug & Health Stores,Retail & Wholesale,$10+ billion (USD)
201,"PhD Director, Data Science R&D (Decision Scien...",105882,"Job Description\n\nIn this role, you will assu...",3.9,Epsilon\n3.9,NaN,5001 to 10000 Employees,Advertising & Public Relations,Media & Communication,$1 to $5 billion (USD)
237,"Sr Manager, Data Science",120353,"At HCSC, we consider our employees the corners...",4.0,HCSC\n4.0,NaN,10000+ Employees,Insurance Carriers,Insurance,Unknown / Non-Applicable
277,Data Scientist - Supply Planning,100638,Beam Suntory is Crafting the Spirits that Stir...,3.9,Beam Inc.\n3.9,NaN,5001 to 10000 Employees,Food & Beverage Manufacturing,Manufacturing,$1 to $5 billion (USD)
321,Senior Data Scientist - TS Clearance Required,131400,Sr Data Scientist (up to 25% profit sharing be...,-1.0,Eighty20 Collective,NaN,Unknown,-1,-1,Unknown / Non-Applicable
367,"Data Scientist, Ecosystem",160665,About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,NaN,1001 to 5000 Employees,Internet & Web Services,Information Technology,$100 to $500 million (USD)
402,Data Scientist,1508000,Position: Data Scientist (Strong PowerBI knowl...,5.0,Avis Technologies\n5.0,NaN,Unknown,-1,-1,Unknown / Non-Applicable
432,Machine Learning Engineer,117711,Job Information\nNumber of Positions\n1\nIndus...,4.0,LeewayHertz\n4.0,NaN,51 to 200 Employees,Computer Hardware Development,Information Technology,Unknown / Non-Applicable

In [75]:
#adding a column for the state

df['Job State'] = df['Location'].apply(lambda x: x.strip()[-2:] if not isinstance(x, float) else None)
df['Job State'].value_counts()

/var/folders/4v/4zh9kt9x7wdgh06tc0_s1gh40000gn/T/ipykernel_3132/4076301459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job State'] = df['Location'].apply(lambda x: x.strip()[-2:] if not isinstance(x, float) else None)

CA    33
VA    27
MA    25
te    23
IL    20
TX    19
NY    15
CT    13
MD    11
NJ    10
FL    10
NC    10
DC     7
WA     7
GA     6
CO     6
UT     4
PA     3
AZ     3
AR     2
WI     2
OR     2
OH     2
AL     2
RI     1
TN     1
MO     1
ME     1
HI     1
IA     1
an     1
NE     1
ia     1
is     1
MN     1
NV     1
SC     1
ts     1
Name: Job State, dtype: int64

In [86]:
df.loc[df['Job State'] == 'ia', 'Job State'] = 'CA' #changing California to CA
df.loc[df['Job State'] == 'ts', 'Job State'] = 'MA' #changing Massacchussets to MA
df.loc[df['Job State'] == 'is', 'Job State'] = 'IL' #changing Illinois to IL
df.loc[df['Job State'] == 'an', 'Job State'] = 'NY'  #changing Manatthan to NY
df.loc[df['Job State'] == 'te', 'Job State'] = 'Remote'
df['Job State'].value_counts()

CA        34
VA        27
MA        26
Remote    23
IL        21
TX        19
NY        16
CT        13
MD        11
NJ        10
FL        10
NC        10
WA         7
DC         7
CO         6
GA         6
UT         4
AZ         3
PA         3
AR         2
AL         2
WI         2
OR         2
OH         2
IA         1
MO         1
ME         1
HI         1
NE         1
RI         1
SC         1
MN         1
NV         1
TN         1
Name: Job State, dtype: int64

In [57]:
df['Rating'].unique() #-1 as strange value

len(df[df['Rating']<0])

38