In [1]:
import pandas as pd

In [2]:
Ken_data = pd.read_csv('Ken_lee_eda_data.csv', index_col=0)
Ken_data.iloc[0,:]

Job Title                                               Data Scientist
Salary Estimate                             $53K-$91K (Glassdoor est.)
Job Description      Data Scientist\nLocation: Albuquerque, NM\nEdu...
Rating                                                             3.8
Company Name                                    Tecolote Research\n3.8
Location                                               Albuquerque, NM
Headquarters                                                Goleta, CA
Size                                             501 to 1000 employees
Founded                                                           1973
Type of ownership                                    Company - Private
Industry                                           Aerospace & Defense
Sector                                             Aerospace & Defense
Revenue                                      $50 to $100 million (USD)
Competitors                                                         -1
hourly                                                               0
employer_provided                                                    0
min_salary                                                          53
max_salary                                                          91
avg_salary                                                        72.0
company_txt                                          Tecolote Research
job_state                                                           NM
same_state                                                           0
age                                                                 47
python_yn                                                            1
R_yn                                                                 0
spark                                                                0
aws                                                                  0
excel                                                                1
job_simp                                                data scientist
seniority                                                           na
desc_len                                                          2536
num_comp                                                             0
Name: 0, dtype: object

In [3]:
Ken_data = Ken_data[['Rating', 'Size', 'Industry', 'Sector', 'job_state', 'job_simp',
       'avg_salary']]
Ken_data.columns = ['Rating', 'Size', 'Industry', 'Sector', 'Job State', 'Job Simplified',
       'Salary Estimate']
Ken_data

,Rating,Size,Industry,Sector,Job State,Job Simplified,Salary Estimate
0,3.8,501 to 1000 employees,Aerospace & Defense,Aerospace & Defense,NM,data scientist,72.0
1,3.4,10000+ employees,Health Care Services & Hospitals,Health Care,MD,data scientist,87.5
2,4.8,501 to 1000 employees,Security Services,Business Services,FL,data scientist,85.0
3,3.8,1001 to 5000 employees,Energy,"Oil, Gas, Energy & Utilities",WA,data scientist,76.5
4,2.9,51 to 200 employees,Advertising & Marketing,Business Services,NY,data scientist,114.5
...,...,...,...,...,...,...,...
737,3.9,10000+ employees,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,MA,na,84.5
738,4.4,1001 to 5000 employees,Internet,Information Technology,TN,data engineer,102.5
739,2.6,501 to 1000 employees,Colleges & Universities,Education,PA,na,73.5
740,3.2,1 to 50 employees,Staffing & Outsourcing,Business Services,PA,manager,127.5
741,3.6,501 to 1000 employees,Federal Agencies,Government,OH,na,93.5

In [4]:
mapping = {
    '501 to 1000 employees': '501 - 1000',
    '10000+ employees': '10000+',
    '1001 to 5000 employees': '1001 - 5000',
    '51 to 200 employees': '51 - 200',
    '201 to 500 employees': '201 - 500',
    '5001 to 10000 employees': '5001 - 10000',
    '1 to 50 employees': '1 - 50',
    'Unknown': None,
    '-1': None,
}

Ken_data['Size'] = Ken_data['Size'].map(mapping)

In [5]:
Ken_data

,Rating,Size,Industry,Sector,Job State,Job Simplified,Salary Estimate
0,3.8,501 - 1000,Aerospace & Defense,Aerospace & Defense,NM,data scientist,72.0
1,3.4,10000+,Health Care Services & Hospitals,Health Care,MD,data scientist,87.5
2,4.8,501 - 1000,Security Services,Business Services,FL,data scientist,85.0
3,3.8,1001 - 5000,Energy,"Oil, Gas, Energy & Utilities",WA,data scientist,76.5
4,2.9,51 - 200,Advertising & Marketing,Business Services,NY,data scientist,114.5
...,...,...,...,...,...,...,...
737,3.9,10000+,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,MA,na,84.5
738,4.4,1001 - 5000,Internet,Information Technology,TN,data engineer,102.5
739,2.6,501 - 1000,Colleges & Universities,Education,PA,na,73.5
740,3.2,1 - 50,Staffing & Outsourcing,Business Services,PA,manager,127.5
741,3.6,501 - 1000,Federal Agencies,Government,OH,na,93.5

In [6]:
df_model = pd.concat([Ken_data, df_model])

NameError: name 'df_model' is not defined

In [ ]:
len(Ken_data['Job Simplified'].unique())

In [ ]:
len(df_raw['Job Simplified'].unique())

In [ ]:
len(df_model['Job Simplified'].unique())

In [ ]:
df_model.dtypes

In [ ]:
df_model.dropna()

In [ ]:
df_model['Size'].unique()

In [ ]:
Ken_data['Size'].unique()

In [ ]:
df_raw['Size'].unique()

In [ ]:
df_model['Size'].unique()

In [ ]:
df_raw = pd.read_csv('/Users/angelawang/Desktop/data_cleaned_fra_copy.csv', index_col=0)

In [ ]:
df_raw

In [ ]:
df_raw=df_raw[['Salary Estimate', 'Rating', 'Company Name', 'Location', 'Size', 'Industry', 'Sector', 'Job State', 'Job Simplified']].copy()

In [ ]:
df_raw.dropna(inplace=True)

In [ ]:
salary = df_raw['Salary Estimate']/1000
salary

In [ ]:
df_raw.drop('Salary Estimate', axis=1, inplace=True)

In [ ]:
df_raw = pd.concat([df_raw, salary], axis=1)

In [ ]:
df_raw.drop('Company Name', axis=1, inplace=True)

In [ ]:
df_raw = df_raw[df_raw['Salary Estimate']<300]
df_model = df_raw

In [ ]:
# pd.DataFrame(df_model['Location'].unique())

In [ ]:
# import re
# text = 'Cerritos, CA'
# pattern = r'[A-Z]*$'
# match = re.search(pattern, text)
# match.group()

In [ ]:
# import re
# def get_state(text):
#     pattern = r'[A-Z]*$'
#     #text = row[0] #row['Location']
#     match = re.search(pattern, text)
#     if text == 'nan':
#         return 'nan'
#     elif text == 'Remote':
#         return 'Remote'
        
#     return match.group()

In [ ]:
# df_model[df_model['Location'].isnull()]['Location'].astype(str)

In [ ]:
# df_model['Location'].astype(str).apply(get_state)

In [ ]:
# df_model.drop('State', axis=1)
# df_model['State'] = df_model['Location'].astype(str).apply(get_state)

In [ ]:
df_model.drop('Location', axis=1, inplace=True)

In [ ]:
# df_model = df_model[df_model['Salary Estimate'] < 300]

In [ ]:
df_model['Job Simplified'].unique()

In [ ]:
df_model

In [ ]:
df_dum = pd.get_dummies(df_model)

# train test split 
# from sklearn.model_selection import train_test_split

In [ ]:
salary = df_dum['Salary Estimate']

df_dum.drop('Salary Estimate', axis=1, inplace=True)
df_dum = pd.concat([df_dum, salary], axis=1)

In [ ]:
df_dum.columns

In [ ]:
from sklearn.model_selection import train_test_split

### Run the models on combined dataset, accuracy became worse -29.82640436652036

In [ ]:
train, test = train_test_split(df_dum, test_size = 0.2)
X_train = train.iloc[0:,:164]
y_train = train.iloc[:,164]
X_test = test.iloc[0:,:164]
y_test = test.iloc[:,164]
y_train

In [ ]:
train, test = train_test_split(df_dum, test_size = 0.2)
X_train = train.iloc[0:,:164]
y_train = train.iloc[:,164]
X_test = test.iloc[0:,:164]
y_test = test.iloc[:,164]
y_train

### Random Forest

In [ ]:
# random forest 
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.model_selection import cross_val_score

rf = RandomForestRegressor()

np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv=3))

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
feature_names = [key for key in df_dum if not key=='Salary Estimate']

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
importances = rf.feature_importances_
indices = np.argsort(importances)
plt.figure(figsize=(12,40))
plt.title('Feature Importances')
plt.barh(range(len(indices)), importances[indices], color='b', align='center')
# plt.yticks(range(len(indices)),feature_names)
plt.yticks(range(len(indices)),np.array(feature_names)[indices])
plt.xlabel('Relative Importance')
# first use feature importance to see what are the important features, then choose the important features and retrain the model

In [ ]:
# tune models GridsearchCV 
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':range(10,300,10), 'criterion':('squared_error','absolute_error'), 'max_features':('sqrt','log2')}

gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=3)
gs.fit(X_train,y_train)

gs.best_score_
gs.best_estimator_

In [ ]:
gs.best_estimator_

In [ ]:
gs.best_score_

In [ ]:
X_test.iloc[1,:]

In [ ]:
np.array(list(X_test.iloc[0,:])).reshape(1,-1)

In [ ]:
import pickle
pickl = {'model': gs.best_estimator_}
pickle.dump( pickl, open( 'model_file' + ".p", "wb" ) )

file_name = "model_file.p"
with open(file_name, 'rb') as pickled:
    data = pickle.load(pickled)
    model = data['model']

list(X_test.iloc[1,:])

In [ ]:
model.predict(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

In [ ]:
model.score(X_test,y_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# assume that you have already fitted a RandomForestRegressor model called 'model' on your training data
y_pred = model.predict(X_test)

# calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)

# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)

# calculate coefficient of determination (R-squared)
r2 = r2_score(y_test, y_pred)

# print the error metrics
print(f"Mean Absolute Error (MAE): {mae:.3f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")
print(f"Coefficient of Determination (R-squared): {r2:.3f}")

### Support Vector Regression

In [ ]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

# load data
# data = pd.read_csv('data.csv')

# split data into features and target variable
X = df_dum.drop('Salary Estimate', axis=1)
y = df_dum['Salary Estimate']

# feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# feature selection (if needed)
# X_selected = ...

# train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# cross-validation
svr = SVR()
params = {'C': [0.1, 1, 10], 'gamma': [0.1, 1, 10]}
grid_search = GridSearchCV(svr, param_grid=params, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# model evaluation
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

# calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)

# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)

# calculate coefficient of determination (R-squared)
r2 = r2_score(y_test, y_pred)

# print the error metrics
print(f"Mean Absolute Error (MAE): {mae:.3f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")
print(f"Coefficient of Determination (R-squared): {r2:.3f}")
print("Mean Squared Error:", mse)

In [ ]:
# create a boolean mask of column indices less than 50
mask = indices<50

# apply the mask to select the desired columns
X_masked = X.loc[:, mask]

In [ ]:
X_masked

In [ ]:
X_train_masked

In [ ]:
# feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_masked)

# feature selection (if needed)
# X_selected = ...

# train-test split
X_scaled_train, X_scaled_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# cross-validation
svr = SVR()
params = {'C': [0.1, 1, 10], 'gamma': [0.1, 1, 10]}
grid_search = GridSearchCV(svr, param_grid=params, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_scaled_train, y_train)

# model evaluation
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_scaled_test)
mse = mean_squared_error(y_test, y_pred)

# calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)

# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)

# calculate coefficient of determination (R-squared)
r2 = r2_score(y_test, y_pred)

# print the error metrics
print(f"Mean Absolute Error (MAE): {mae:.3f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")
print(f"Coefficient of Determination (R-squared): {r2:.3f}")
print("Mean Squared Error:", mse)

### decision tree regressor

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model using mean absolute error, mean squared error, and R-squared
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)


r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")
print(f'R-squared: {r2}')

### Bayesian Regression

In [ ]:
# Import necessary libraries
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import BayesianRidge
from sklearn.metrics import mean_squared_error, r2_score

# Generate data
#X, y = make_regression(n_samples=1000, n_features=5, noise=0.5, random_state=42)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create Bayesian Regression model and fit to training data
model = BayesianRidge()
model.fit(X_train, y_train)

# Predict on testing data
y_pred = model.predict(X_test)

# Evaluate the model using mean absolute error, mean squared error, and R-squared
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)

r2 = r2_score(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")
print(f'R-squared: {r2}')

# Plot predicted vs actual values
plt.scatter(y_test, y_pred)
plt.xlabel("Actual")
plt.ylabel("Predicted")
plt.show()