In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data_cleaned_fra.csv')

In [3]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Industry,Sector,Revenue,Job State,Job Simplified,Seniority,Vader
0,Designer UIX NLP/NLU,117500,* W2 Only *\r The successful candidate will pr...,-1.0,"RightFit Talent Brokers, LLC",Remote,NaN,NaN,NaN,NaN,Remote,data scientist,NaN,0.50
1,Machine Learning Engineer,129337,Signal Systems Corporation (SSC) is searching ...,-1.0,Signal Systems Corporation,"Millersville, MD",NaN,NaN,NaN,NaN,MD,mle,NaN,0.39
2,Senior Algorithms & Machine Learning Scientist,129163,"Job Summary:\r \r Walgreens, one of the nation...",3.1,WALGREENS,"Chicago, IL",10000+,Drug & Health Stores,Retail & Wholesale,10000+,IL,mle,senior,0.52
3,Data Scientist with AI and ML experience,140000,Data Scientist with advanced analytics experie...,-1.0,"innoVet Health, LLC",Remote,NaN,NaN,NaN,NaN,Remote,data scientist,NaN,0.44
4,Machine Learning Engineer,112751,Supports and performs the development and prog...,3.7,Vanguard,"Philadelphia, PA",10000+,Investment & Asset Management,Financial Services,NaN,PA,mle,NaN,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,"Senior Data Scientist, Product",149166,ABOUT EARNIN:\r As one of the first pioneers o...,4.2,EarnIn,"Palo Alto, CA",201 - 500,Information Technology Support Services,Information Technology,NaN,CA,data scientist,senior,0.49
947,Data Scientist Machine Learning Engineer,99950,"Primary Responsibilities to Include:\r Design,...",4.2,Plasma Computing Group,"Dallas, TX",51 - 200,Enterprise Software & Network Solutions,Information Technology,1 - 5,TX,mle,NaN,0.11
948,Senior Systems Engineer - Systems Modeling & C...,125000,You will have an opportunity to directly impac...,4.1,Cenergy International Services,"Boston, MA",10000+,Energy & Utilities,"Energy, Mining & Utilities",10000+,MA,data scientist,senior,0.53
949,Data Scientist,110100,Please email hr_business_partners@bcbsri.org i...,3.6,Blue Cross & Blue Shield of Rhode Island,"Providence, RI",501 - 1000,Insurance Carriers,Insurance,NaN,RI,data scientist,NaN,0.34
950,Decision Scientist,104957,Description\r \r Are you searching for an oppo...,4.3,Johns Hopkins Applied Physics Laboratory (APL),"Laurel, MD",5001 - 10000,Aerospace & Defense,Aerospace & Defense,1000 - 5000,MD,data scientist,NaN,0.40